* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
}

.parent1 {
  width: 500px;
  height: 500px;
  background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
  position: relative;
}

.parent1 .child1 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  position: relative;
  /* 주위에 아무런 영향을 주지 않음.
    자신의 영역을 기억함  */
}

.parent1 .child1-2 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  left: 200px;
  position: absolute;
}

.parent2 {
  width: 500px;
  height: 500px;
  background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
  position: relative;
  margin-top: 30px;
}

.parent2 .child2 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  position: absolute;
  left: 50%;
  top: 50%; /* 부모기준 */
  transform: translate(-50%, -50%); /* 본인기준 */
}

.parent3 {
  width: 500px;
  height: 500px;
  background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
  margin-top: 30px;
}

.parent3 .child3 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  position: fixed;
  right: 0;
  top: 100px;
}

/* position
  fixed 화면고정
  absolute 독립
  relative  */

.parent4 {
  height: 2000px;
}

.parent4 .child4 {
}
