.one {
  /* one의 공간 : width+padding+border
   margin은 one의 공간 밖의 영역*/
  border: 2px solid blue;
  padding: 20px; /* 나의 안쪽공간 */
  margin: 20px; /* 나의 바깥공간 */
  box-sizing: border-box; /* 넓이에 padding과 border을 포함 */
  width: 200px;
}
.two {
  padding: 20px;
  margin: 30px; /* margin이 위 아래로 있을때 큰 값이 적용 */
  border: 1px solid greenyellow;
}
.three {
  border: 1px solid orange;
}
