* {
  margin: 0;
  padding: 0;
}

.전체 {
  background-color: #fdf4f5;
  width: 1000px;
  margin: auto;
  padding: 20px;
}

/* 넓이는 부모의 넓이를 따라감
    높이는 자식의 높이를 따라감 */

.전체 .자식1 {
  width: 25%;
  background-color: #ecf2ff;
  float: left;
}

.전체 .자식2 {
  width: 25%;
  background-color: #e3dffd;
  float: left;
}

.전체 .자식3 {
  width: 25%;
  background-color: #e5d1fa;
  float: left;
}

.전체 .자식4 {
  width: 25%;
  background-color: #fff4d2;
  float: left;
}

.전체 .막내 {
  background-color: aqua;
  clear: left;
}

.바닥 {
  background-color: #b0daff;
  padding: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  /* display: flex; */
}

.바닥 .자식 {
  background-color: #e5e0ff;
  width: 32%;
  float: left;
  margin-right: 2%;
}

.바닥 .자식3 {
  margin-right: 0;
}

.막내 {
  /* clear: both; */
  clear: left;
}
