@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.box1 {
    background-color: #fff;
}

.box1 .child {
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    background-color: orangered;
    margin: 30px auto;
    /* margin 병합현상 */
    text-align: center;
    border: 10px solid orangered;
    border-radius: 10px;
    /*  transition-property: transform;
    transition-duration: .3s;
    transition-delay: .5s;
    transition-timing-function: cubic-bezier(0.42, -0.57, 1, 1); */
    /*  transition: transform 0.3s cubic-bezier(0.42, -0.57, 1, 1) .5s;*/
    /* transition: transform 0.3s, background-color .5s color 0.3s .5s;
    */
    transition: 0.3s;
}

.box1:hover .child {
    transform: translateY(-30%);
    background-color: darkslategray;
    color: #fff;
}

.box2 {
    width: 400px;
    font-size: 30px;
    color: #222;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
}

.box2>div {
    transform: translateX(-100%);
}
.box2:hover>div{
    transform: translateX(0);
}
.box2 .one {}

.box2 .two {}

.box2 .three {}